<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order Confirmation</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .message {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .HomeBtn {
            text-align: right;
            font-size: 24px;
            font-weight: bold;
        }

    </style>
</head>
<body>
    <div class="message">
        Your order is placed
    </div>

    <a href="/index">
        <button class="HomeBtn">Continue Shopping</button>
    </a>
</body>
</html>