<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>KissanKart</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
<div class="bg-img">
    <div class="content">
        <header>Verification</header>
        <form action="/forgot_password" method="POST"> <!-- Change action to point to the correct route -->
            <div class="field">
                <span class="user"></span>
                <input type="text" name="username" required placeholder="Email">
            </div>
            <div class="field space">
                <span class="lock"></span>
                <input type="password" name="phone" class="pass-key" required placeholder="Phone"> <!-- Change name to 'phone' -->
                <span class="show">SHOW</span>
            </div>
            <div class="field">
                <input type="submit" value="Verify"> <!-- Change button text to 'Verify' -->
                
            </div>
        </form>
        <div class="login">
            Or login with
        </div>
        <div class="links">
            <div class="facebook">
                <i class="facebook"><span>Facebook</span></i>
            </div>
            <div class="gmail">
                <i class="gmail"><span>Gmail</span></i>
            </div>
        </div>
        <div class="signup">
            Don't have an account?
            <a href='/signup'>Signup Now</a>
        </div>
        <div class="err">
            invalid user data
         </div>
    </div>
</div>
</body>
</html>