<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
  <div class="nav">

    <div class="nav-header">
      <div class="nav-title">
        KissanKart
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="#" target="_blank">Home</a>
      <a href="/login" target="_blank">Login</a>
      <a href="#" target="_blank">About</a>
      <a href="#" target="_blank">Contact</a>
    </div>
  </div>



  <div class="navbar">
    

    <a href="/shoppingcart">
      <div class="cart">
        <i class="bi bi-cart2"></i>
        <div id="cartAmount" class="cartAmount">0</div>
      </div>
    </a>

  </div>

  <div class="shop" id="shop">


  </div>

  <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <section class="container">
    <h2>Why choose us</h2>
    <div class="row">
      <div class="service">
        <i class="ri-customer-service-2-line"></i>
        <h3>Online Support</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i class="ri-home-smile-2-line"></i>
        <h3>Organic</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i class="ri-database-2-line"></i>
        <h3>Cost Effective</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i class="ri-leaf-line"></i>
        <h3>Ecofriendly</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i class="ri-star-smile-line"></i>
        <h3>High Rating</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i class="ri-account-box-line"></i>
        <h3>1 day delivery</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i class="ri-sparkling-2-line"></i>
        <h3>Best Quality</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="service">
        <i class="ri-flight-takeoff-line"></i>
        <h3>Nationwide Shipping</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </section>


  <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <!--FOOTER-->
  <footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">KissanKart</h1>

      <h2>Contact</h2>

      <address>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, obcaecati!<br>

        <a class="footer__btn" href="#">Email Us</a>
      </address>
    </div>

    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Support</h2>

        <ul class="nav__ul">
          <li>
            <a href="#">lorem</a>
          </li>

          <li>
            <a href="#">lorem</a>
          </li>

          <li>
            <a href="#">lorem</a>
          </li>
        </ul>
      </li>

      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Technology</h2>

        <ul class="nav__ul nav__ul--extra">
          <li>
            <a href="#">lorem</a>
          </li>

          <li>
            <a href="#">lorem</a>
          </li>

          <li>
            <a href="#">lorem</a>
          </li>

          <li>
            <a href="#">lorem</a>
          </li>

          <li>
            <a href="#">lorem</a>
          </li>

          <li>
            <a href="#">lorem</a>
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <h2 class="nav__title">Legal</h2>

        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>

          <li>
            <a href="#">Terms of Use</a>
          </li>

          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
    </ul>


  </footer>

  <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->




</body>
<script src="../static/src/Data.js"></script>
<script src="../static/src/main.js"></script>

</html>