<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>KissanKart</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
<div class="bg-img">
    <div class="content">
        <header>Password Reset</header>
        <form action="/reset_password_form" method="POST"> <!-- Change action to point to the correct route and pass the username -->
            <div class="field">
                <span class="user"></span>
                <input type="password" name="email" required placeholder="email"> <!-- Change type to 'password' -->
            </div>
            <div class="field space">
                <span class="lock"></span>
                <input type="password" name="confirm_password" class="pass-key" required placeholder="Confirm Password"> <!-- Fix missing closing quotes -->
                <span class="show">SHOW</span>
            </div>
            <div class="field">
                <input type="submit" value="Reset Password"> <!-- Change button text to 'Reset Password' -->
            </div>
        </form>
        <div class="login">
            Or login with
        </div>
        <div class="links">
            <div class="facebook">
                <i class="facebook"><span>Facebook</span></i>
            </div>
            <div class="gmail">
                <i class="gmail"><span>Gmail</span></i>
            </div>
        </div>
        <div class="signup">
            Don't have an account?
            <a href='/signup'>Signup Now</a>
        </div>
    </div>
</div>
</body>
</html>